/*公用设置样式*/
/*修改svg图标颜色*/
@font-face {
    font-family: 'icomoon';
    /*src:  url('fonts/icomoon.eot?8ri4jv');*/
    src:
    url('fonts/icomoon.ttf?8ri4jv') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_right:before {
    content: "\e900";
    color: #8a8a8a;
    font-size: 1.3rem;
}
.icon-smart_socket2:before {
    content: "\e903";
    color: #e6e6e6;
    font-size: 8rem;
    cursor: pointer;
}

